@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap');

*{
    font-family: 'Sofia Sans Semi Condensed', sans-serif !important;
}
.bi.bi-link{
    font-size: 1.2em;
}
.bi.bi-file-earmark-pdf{
    font-size: 1.2em;
}
.titulo{
    background-color: aliceblue;
    padding: 4px;
}
.link-off{
    color: grey;
}
.bi.bi-youtube{
    font-size: 1.3em;
}
.btn-falha{
    background-color: aliceblue;
    border: none;
    padding: 8px;
    border-radius: 4px;
    margin: 4px;
    border-left: 4px solid #3f3f3f;
    min-width: 300px;
    display: flex;
    justify-content: flex-start;
}

/*

*/
.root-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#root{
    /* min-height: 200px; */
    /* width: 1000px; */
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 1px 4px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 16px; */
}

table td{
    border: 1px solid black;
    text-align: center;
}
table button{
    border: none;
    padding: 4px;
    border-radius: 4px;
    background-color: aliceblue;
    border: 2px solid #00a335;
    
    
}
table button:hover{
    background-color:#00a335;
    color: aliceblue;
}
table button:active{
    background-color: aliceblue;
    color:#00a335;
}



.Title{
    background-color:#00a335;
    padding: 8px;
    color: aliceblue;
}
.tdTitle{
    padding: 8px;
    

}