@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap');

*{
    font-family: 'Sofia Sans Semi Condensed', sans-serif !important;
}
body{
    background-color: #f6f7f9;
}
.bi.bi-link{
    font-size: 1.2em;
}
.bi.bi-file-earmark-pdf{
    font-size: 1.2em;
}
.titulo{
    background-color: aliceblue;
    padding: 4px;
}
.link-off{
    color: grey;
}
.bi.bi-youtube{
    font-size: 1.3em;
}
.btn-falha{
    background-color: aliceblue;
    border: none;
    padding: 8px;
    border-radius: 4px;
    margin: 4px;
    border-left: 4px solid #3f3f3f;
    min-width: 300px;
    display: flex;
    justify-content: flex-start;
}

/*

*/
.root-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#root{
    /* min-height: 200px; */
    /* width: 1000px; */
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 1px 4px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 16px; */
}

.tabela td{
    border: 1px solid black;
    text-align: center;
}
.tabela button{
    border: none;
    padding: 4px;
    border-radius: 4px;
    background-color: aliceblue;
    border: 2px solid #00a335;
    
    
}
.tabela button:hover{
    background-color:#00a335;
    color: aliceblue;
}
.tabela button:active{
    background-color: aliceblue;
    color:#00a335;
}



.Title{
    background-color:#00a335;
    padding: 8px;
    color: aliceblue;
}
.tdTitle{
    padding: 8px;
    

}
.box-foto{
    height: 150px;
    width: 150px;
    border-radius: 8px;
    /* background-image: linear-gradient(90deg,#00a335, #026824); */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    margin: 8px;
    overflow: hidden;
    padding-top: 16px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.box-foto:hover{
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.box-foto:hover .box-imagem{
    scale: 0.9;
}
.descricao{
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items:center;
}
.box-imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0.7;
    transition: 0.3s;
    height: 100px;
   
    
}