@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap');

*{
    font-family: 'Sofia Sans Semi Condensed', sans-serif !important;
}
.bi.bi-link{
    font-size: 1.2em;
}
.bi.bi-file-earmark-pdf{
    font-size: 1.2em;
}
.titulo{
    background-color: aliceblue;
    padding: 4px;
}
.link-off{
    color: grey;
}
.bi.bi-youtube{
    font-size: 1.3em;
}
.btn-falha{
    background-color: aliceblue;
    border: none;
    padding: 8px;
    border-radius: 4px;
    margin: 4px;
    border-left: 4px solid #3f3f3f;
    min-width: 300px;
    display: flex;
    justify-content: flex-start;
}